legend
{
    float: inline-start;
    display: inline-block;
    list-style-type: circle;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Solway', serif;
    color: mediumblue;
}

#bloqueDatosPersonales
{
    background-color: wheat;
    border-color: red;
    
}

#bloqueDatosAdicionales
{
    background-color: thistle;
    border-color: red;
}

li{
    list-style-type: circle;
}

h1::selection
{
    background: rgb(165, 9, 226);
    color: black;
    text-shadow: 1px 1px #fff;

}

h1::-moz-selection
{
    background: rgb(165, 9, 226);
    color: black;
    text-shadow: 1px 1px #fff;

}

fieldset
{
	margin: 10px;
	padding: 10px;
}

input:focus 
{
	border: 2px solid #000;
    background: #ABE96E;
}

td:first-child {
    color: green;
    
  }

  td:nth-child(2n) {
    color: blue;
    
  }

  td:last-child {
    color: red;
    
  }