#Titulo h1
{
    text-align: center
}

.autor
{
    display: inline-block;
	font-size: 18px;
	padding: 5px;
}

a[href$=".png"]
{
    /*Poner borde*/
}

img
{
	border: 2px solid green;
	margin: 10px auto;
	display: block;
}

figcaption
{
	text-align: center;
}

article
{
	margin: 70px;
    border: 2px solid red;
    padding: 10px;
    border-radius: 25px;
    
}

body
{
	width: 75%;
    border: 2px solid black;
	padding: 15px;
    background-color: rgb(145, 169, 168);
    margin-right: 150px;
    margin-left: 150px;
    font-family: 'Solway', serif;
}

html
{
    background-image: url("../imagenes/background.jpg");
    background-size: 180%;
    background-repeat: repeat;
}

#Menu 
{
    background-color: #000000;
    padding: 30;

}

#Menu ul
{
    list-style: none;
}

#Menu ul li
{
    display: inline-block;
}

#Menu ul li a{
    color: white;
    display: block;
    padding: 10px 125px;
    text-decoration: none;
    transition: all 0.3s linear;
    font-size: 18px;
    font-family: 'Bebas Neue', cursive;
}

#Menu ul li a:hover{
    background-color: #3968eb;
}
